body{
background-image:url("/image/font.jpg");
    margin: 0;
    background-size: cover;
}
p{
	font-size: 60px;
}
#maket{
    background-color:seagreen;
    width: 10%;
    height:100%;
    vertical-align: top;
}
#leftcol{
    width: 200px;
    font-size: 30px;
    margin-left: 20px;
}
a{
    color:black;
}