
#header{
    width:auto;
    height:100px;
}
#menu{
    background:green;
    width:190px;
    height:300px;
    margin: 10px;
}
#content{
    background:yellow;
    width:1024px;
    height:300px;
    position:absolute;
    left:190px;
    top:100px;
    margin: 10px;
}
#footer{

    width:auto;
    height:300px;
}

body{
    margin:0px;
    background-image:url("/image/font.jpg");
}

#glav{
    font-size: 54px;
}
#reclama{
    font-size: 54px;
}